<div class="login-container">
  <div class="login-header">
    <div class="left">
      <img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="">
      <h2>Facebook helps you connect and share with people in your life</h2>
    </div>
    <div class="right">
        <mat-card class="right-card">
            <mat-card-content>
              <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div>
                  <input type="text" formControlName="email" placeholder="email">
                </div>
                <div>
                  <input type="password" formControlName="password" placeholder="password">
                </div>
                <button  (class)="onSubmit()">SignIn</button>
              </form>
            </mat-card-content>
        </mat-card>
    </div>
  </div>
</div>
